* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
input#search {
  font-size: 20px;
}
#search-btn {
  font-size: 20px;
}

h1 {
  font-size: 35px;
  margin: 0;
}
#temp {
  font-size: 45px;
}
.city {
  justify-self: center;
}

.header,
.footer {
  height: 20vh;
  background-color: rgb(255, 199, 199);
}

.header,
.body,
.footer {
  padding: 1em;
}
